<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
	</meta>
    
    	<script type="text/javascript">
<!--

// -->
	</script>
  </head>
	<body>
		<footer>
			<nav id="globalnavi">Copryright PFU LIMITED
			</nav>
		</footer>
	</body>
  </body>
</html>
