<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
	</meta>
    
    	<script type="text/javascript">
<!--
	function anchoring(str) {
		alert(str);
		window.location.hash = "";
		window.location.hash = str;
	}


// -->
	</script>
  </head>
	<body>
		<header>
			<section>
				<h1 id="sitetitle" style="text-align:center">PSW OPEN</h1>
				<hr id="over"/>
				<hr id="under"/>
			</section>
		</header>
	</body>
  </body>
</html>
