<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>タイトル</title>
	<link rel="stylesheet" href="/stylesheets/themes/default/jquery.mobile-1.2.0.css"></link>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery.mobile-1.2.0.js"></script>
	<style type="text/css">
		.ui-page {
			background: url(/images/golf.jpg) 50% 0;
			border: 1px solid #516A18;
			border-left-width: 0;
			border-right-width: 0;
		}
		
		.red {
			color: red;
		}

		.blue {
			color: blue;
		}

		.ui-li-icon {
			margin-top: -15px;
			margin-left: -10px;
		}

	</style>
</head>
<body>
	<!-- ページ１ -->
	<div data-role="page" id="rank_personal">
		<div data-role="header">
			<h1>Leader's Board</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-icon="info" class="ui-btn-active ui-state-persist">個人順位</a></li>
					<li><a href="#rank_team" data-icon="grid" data-transition="flip">チーム順位</a></li>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<ul data-role="listview" data-inset="true">
				<li data-role="list-divider">
					<div class="ui-grid-a">
						<div class="ui-block-a">
							<h1>個人順位</h1>
						</div>
						<div class="ui-block-b">
<!--
							<select data-role="slider" data-mini="true">
								<option selected>グロス</option>
								<option>ネット</option>
							</select>
-->							
							<fieldset data-role="controlgroup" data-type="horizontal">
								<input type="radio" name="rdo" id="rdo1" data-mini="true" checked>
								<label for="rdo1">グロス</label>
								<input type="radio" name="rdo" id="rdo2" data-mini="true">
								<label for="rdo2">ネット</label>
							</fieldset>
						</div>
					</div>
				</li>
				<li>
					<img src="/images/ega.jpg"></img>
					<img class="ui-li-icon" src="/images/rank1.jpg"></img>
					<h1>江頭22:50</h1>
					<p>Aチーム</p>
					<span class="ui-li-count"><span class="red">-3</span> [9H]</span>
				</li>
				<li>
					<img src="/images/monkey.jpg"></img>
					<img class="ui-li-icon" src="/images/rank2.jpg"></img>
					<h1>エテ吉</h1>
					<p>Aチーム</p>
					<span class="ui-li-count"><span class="red">-2</span> [11H]</span>
				</li>
				<li>
					<img src="/images/obama.jpg"></img>
					<img class="ui-li-icon" src="/images/rank3.jpg"></img>
					<h1>バラク・小浜</h1>
					<p>Bチーム</p>
					<span class="ui-li-count"><span class="red">-1</span> [10H]</span>
				</li>
				<li>
					<img src="/images/monariza.jpg"></img>
					<img class="ui-li-icon" src="/images/rank4.jpg"></img>
					<h1>モナリーザ</h1>
					<p>Cチーム</p>
					<span class="ui-li-count"><span class="red">-1</span> [15H]</span>
				</li>
				<li>
					<img src="/images/abe.jpg"></img>
					<img class="ui-li-icon" src="/images/rank5.jpg"></img>
					<h1>安倍　心臓</h1>
					<p>Bチーム</p>
					<span class="ui-li-count"><span class="blue">EVEN</span> [8H]</span>
				</li>
				<li>
					<img src="/images/ozawa.jpg"></img>
					<img class="ui-li-icon" src="/images/rank6.jpg"></img>
					<h1>小沢　ニ郎</h1>
					<p>Cチーム</p>
					<span class="ui-li-count"><span class="blue">+1</span> [12H]</span>
				</li>
			</ul>
		</div>
		<div data-role="footer">
			<div data-role="navbar">
				<ul>
					<li><a href="#update" data-icon="refresh">順位最新化</a></li>
					<li><a href="#inputscore" data-icon="check">スコア入力</a></li>
				</ul>
			</div>
			<h6>Copyright 2013 孔球部</h6>
		</div>
	</div>

	<div data-role="page" id="rank_team">
		<div data-role="header">
			<h1>Leader's Board</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#rank_personal" data-icon="info" data-transition="flip">個人順位</a></li>
					<li><a href="#" data-icon="grid" class="ui-btn-active ui-state-persist">チーム順位</a></li>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<ul data-role="listview" data-inset="true">
				<li data-role="list-divider">
					<div class="ui-grid-a">
						<div class="ui-block-a">
							<h1>チーム順位</h1>
						</div>
						<div class="ui-block-b">
<!--
							<select data-role="slider" data-mini="true">
								<option selected>グロス</option>
								<option>ネット</option>
							</select>
-->							
							<fieldset data-role="controlgroup" data-type="horizontal">
								<input type="radio" name="rdo" id="rdo1" data-mini="true" checked>
								<label for="rdo1">グロス</label>
								<input type="radio" name="rdo" id="rdo2" data-mini="true">
								<label for="rdo2">ネット</label>
							</fieldset>
						</div>
					</div>
				</li>
				<li>
					<a href="#item1">
						<img src="/images/ega.jpg"></img>
						<img class="ui-li-icon" src="/images/rank1.jpg"></img>
						<h1>Aチーム</h1>
						<span class="ui-li-count"><h6 class="red">-2.5</h6></span>
					</a>
					<ul>
						<li>
							<img src="/images/ega.jpg"></img>
							<img class="ui-li-icon" src="/images/rank1.jpg"></img>
							<h1>江頭22:50</h1>
							<p>Aチーム</p>
							<span class="ui-li-count"><span class="red">-3</span> [9H]</span>
						</li>
						<li>
		 						<img src="/images/monkey.jpg"></img>
							<h1>エテ吉</h1>
							<p>Aチーム</p>
							<span class="ui-li-count"><span class="red">-2</span> [11H]</span>
						</li>
					</ul>
				</li>
				<li>
					<a href="#item1">
						<img src="/images/obama.jpg"></img>
						<img class="ui-li-icon" src="/images/rank2.jpg"></img>
						<h1>Bチーム</h1>
						<span class="ui-li-count"><h6 class="red">-0.5</h6></span>
					</a>
					<ul>
						<li>
							<img src="/images/obama.jpg"></img>
							<h1>バラク・小浜</h1>
							<p>Bチーム</p>
							<span class="ui-li-count"><span class="red">-1</span> [10H]</span>
						</li>
						<li>
							<img src="/images/abe.jpg"></img>
							<h1>安倍　心臓</h1>
							<p>Bチーム</p>
							<span class="ui-li-count"><span class="blue">EVEN</span> [8H]</span>
						</li>
					</ul>
				</li>
				<li>
					<a href="#item1">
						<img src="/images/monariza.jpg"></img>
						<img class="ui-li-icon" src="/images/rank3.jpg"></img>
						<h1>Cチーム</h1>
						<span class="ui-li-count"><h6 class="blue">0.0</h6></span>
					</a>
					<ul>
						<li>
							<img src="/images/monariza.jpg"></img>
							<h1>モナリーザ</h1>
							<p>Cチーム</p>
							<span class="ui-li-count"><span class="red">-1</span> [15H]</span>
						</li>
						<li>
							<img src="/images/ozawa.jpg"></img>
							<h1>小沢　ニ郎</h1>
							<p>Cチーム</p>
							<span class="ui-li-count"><span class="blue">+1</span> [12H]</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div data-role="footer">
			<div data-role="navbar">
				<ul>
					<li><a href="#update" data-icon="refresh">順位最新化</a></li>
					<li><a href="#inputscore" data-icon="check">スコア入力</a></li>
				</ul>
			</div>
			<h6>Copyright 2013 孔球部</h6>
		</div>
	</div>

	<!-- スコア入力 -->
	<div data-role="page" id="inputscore">
		<div data-role="header">
			<h1>Leader's Board</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#rank_personal" data-icon="info" data-transition="flip">個人順位</a></li>
					<li><a href="#rank_team" data-icon="grid" class="ui-btn-active ui-state-persist">チーム順位</a></li>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<div data-role="listview" data-inset="true">
				<li>
					<a href="#inputscoredlg" data-rel="popup">
						<h1>1H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>2H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>3H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>4H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>5H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>6H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>7H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>8H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
				<li>
					<a href="#">
						<h1>9H</h1>
						<p>par 4</p>
						<span class="ui-li-count"><h6>+3</h6></span>
					</a>
				</li>
			</div>
		</div>
		<div data-role="footer">
			<h6>Copyright 2013 孔球部</h6>
		</div>
		<div data-role="popup" data-position-to="window" data-theme="a" id="inputscoredlg" class="ui-content" style="min-width: 260px;">
			<h3>スコア入力</h3>
			<select>
				<option value="1">1</option>	
				<option value="2">2</option>	
				<option value="3">3</option>	
				<option value="4">4</option>	
				<option value="5">5</option>	
				<option value="6">6</option>	
				<option value="7">7</option>	
				<option value="8">8</option>	
				<option value="9">9</option>	
			</select>
			<input type="button" value="OK" data-rel="back">
		</div>
</body>
</html>	