<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
	</meta>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/waku2data.js"></script>
	<script type="text/javascript" src="/javascripts/jstween-1.1.js"></script>
   	<script type="text/javascript">
<!--
		window.addEventListener( 'DOMContentLoaded', initializeCommon, false);
// -->
	</script>
  </head>
  <body>
		<!-- カップ名称、ハンデホール -->
		<header>
			<section>
				<h1 id="captitle" style="text-align:center"></h1>
				<hr id="over"/>
				<hr id="under"/>
			</section>
		</header>

		<section>
			<p style="text-align:center; margin:2em">
				<input class="button blue bigrounded" type="button" value="成績" style="width:10em;height:3em;font-size:1.5em" onclick="location.href='./performance.html'" /> 
			</p>
			<p style="text-align:center; margin:2em">
				<input class="button gray bigrounded" type="button" value="個人賞" style="width:10em;height:3em;font-size:1.5em" onclick="location.href='./each_award.html'" /> 
			</p>
			<p style="text-align:center; margin:2em">
				<input class="button gray bigrounded" type="button" value="過去の成績" style="width:10em;height:3em;font-size:1.5em" onclick="location.href='./performance_past.html'" /> 
			</p>
		</section>

		<footer>
			<nav id="globalnavi">Copryright PFU LIMITED
			</nav>
		</footer>
  </body>
</html>
