<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
	</meta>
	<script type="text/javascript" src="/javascripts/waku2data.js"></script>
   	<script type="text/javascript">
<!--
	// ------------------------------------------------------------
	//  
	// ------------------------------------------------------------

// -->
	</script>
  </head>
	<body id="signin">
		<iframe name="header" seamless src="./header.html" sandbox="allow-same-origin" style="width:100%;height:41px"></iframe>
		<section>
			<p style="text-align:center;">
				<input class="button blue" type="button" value="チーム成績" style="width:10em;display:inline-block;margin:0 15em 0 0;" onclick="location.href='./performance.html'" /> 
			</p>
			<h1 id="sitetitle" style="text-align:center">ハンデ抽選</h1>
			<hr id="over"/>
			<hr id="under"/>
		</section>
		<section>
			<article>
			</article>
		</section>

		<footer>
			<nav id="globalnavi">Copryright PFU LIMITED
			</nav>
		</footer>
	</body>
  </body>
</html>
