<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ハンデホール選択用ルーレット テストページ</title>
<link rel="stylesheet" type="text/css" media="screen,print" href="css/roulette.css" />
<link href="css/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script src="js/jquery-ui-1.10.2.custom.js"></script>
<script type="text/javascript" src="js/roulette.js"></script>
<script type="text/javascript">
/*
var handys = [
		{
			csubid : 1,
			csubname : '東',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,3,4,5,4,3,4,4],
			selected : [1,2,6,8],
		},
		{
			csubid : 2,
			csubname : '中',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,4,3,4,3,5,4,4],
			selected : [1,4],
		},
		{
			csubid : 3,
			csubname : '西',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [4,4,4,3,5,4,3,5,4],
			selected : [3,5,9],
		},
	];
*/
//var handys = null;
var handys = [];
	
function callback_calc() {
}

// コールバック関数（ルーレットでの値確定時に呼び出される）
function callback(subCourseSelectDatas) {

/* 通知される情報の形式
	var subCourseSelectDatas = [
		{
			csubid : 1,
			csubname : '東',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,3,4,5,4,3,4,4],
			selected : [1,2,5,8];
		},
		{
			csubid : 2,
			csubname : '中',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,4,3,4,3,5,4,4],
			selected : [1,4];
		},
		{
			csubid : 3,
			csubname : '西',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [4,4,4,3,5,4,3,5,4],
			selected : [3,5,9];
		},
	];
*/
}

function displayRouletteDialog() {
	roulette.showDialog();
}

$(function(){

	// ダミーデータ
//	var pars = [3,4,5,4,4,4,3,4,5,4,3,4,5,4,3,4,5,4];
//	roulette.init(pars, callback, "rouletteArea");

	var subCourseDatas = [
		{
			csubid : 1,
			csubname : '東',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,3,4,5,4,3,4,4],
		},
		{
			csubid : 2,
			csubname : '中',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [5,4,4,3,4,3,5,4,4],
		},
		{
			csubid : 3,
			csubname : '西',
			names : ['1','2','3','4','5','6','7','8','9'],
			pars : [4,4,4,3,5,4,3,5,4],
		},
	];
	
	// 初期化
	roulette.init(subCourseDatas, callback, "rouletteArea");
	
	// ボタンが押されたらダイアログ表示
	$('#startRoulette').on('click', displayRouletteDialog);
});

</script>
</head>
<body>
<div id="main">
	<button id="startRoulette" type="button">ルーレット表示</button>
</div>
<div id="rouletteArea" style="display:none">
</div>
</body>
</html>
